doctype html
html
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Custom Objects
        a(href="/update-cobj") Add to this table
        table
            thead
                tr
                    th Name
                    th Age
                    th Type
            tbody
                each object in data
                    tr
                        td #{object.properties.name}
                        td #{object.properties.age}
                        td #{object.properties.type}
